<TITLE> Plotting Your Data </TITLE>

<H1> Plotting Your Data </H1>

<PRE>

   1.  Take data on all interesting signals using the Scope screen.

   2.  To get a high-quality plot, touch the word PLOT on the SCOPE screen.
       This switches to an alternate menu of commands.

   3.  The word "Y-axis" is lit up, meaning that if you touch any signal
       name or signal trace, or the word "Time," or type any signal name
       or arithmetic expression involving signals, then that signal will
       go on the Y axis of the graph.

   4.  When "X-axis" is lit, you are selecting what should go on the
       X axis of the graph.  After both axes have been specified, you can
       change your mind by touching one of the two words, then touching a
       new signal.

   5.  Touch Plot to run the plotting program.

   6.  In the plotting program, touch Config for general plotting options,
       or Options for options specific to data plotting.

   7.  In the Options screen, you get function name, plus label, units,
       log/linear, and minimum and maximum values for each axis.  If you
       don't specify a min and max, they are calculated from the data.
       You can enter any arithmetic expression as the function; variables
       in the expression may be any signal name from the Scope screen, or
       Time, or one of A through F.  These last are user-defined parameters
       you can change in the Variables screen.

   8.  You can also specify line style, and a symbol to plot on data points.

   9.  Normally the axis labels are drawn at a larger size so that you can
       read the numbers and exponents.  When plotting on paper, the axis
       labels are regular-size.

  10.  Zoom out just clears the min and max for both axes to blank.

  11.  Touch Plot to send the current graph to a local plotter.

  12.  Touch File to send the current graph to a file or device, as
       described in the Config screen.  Default is the Apple LaserWriter.

  13.  The simulation is still running while you are in the plotting tool.
       If the scope is still triggered, the set of data plotted will be
       those taken as of the time the screen was last refreshed, or the
       Plot button was pushed.  Thus if you just sit and press the space
       bar, the plot will be slightly different each time.  If this is
       confusing, we suggest turning the simulator off first by changing
       ON to OFF in the Scope menu.

  14.  Touch QUIT to return to the Scope.

  15.  For more advanced data munching, touch instead "Dump" from the SCOPE
       menu, then give some file name, by pressing the "!" key) and run the
       "View" program also written at Caltech.  This program has a "load"
       command which can read the Dump file, using signal names as curves.
       (Note that the Dump command appends to the dump file if it already
       exists.  "Load" will take the most recent curve if the file contains
       several by the same name.)

</PRE>
 
<UL>
<LI> <A HREF="lplot3.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
