<TITLE> Plotting a Circuit </TITLE>

<H1> Plotting a Circuit </H1>

<PRE>

   1.  To make a hardcopy plot of your circuit, press "p" or select
       Plotting in the Misc menu.  You get a screen with an (admittedly
       ugly) view of what your circuit will look like on paper.

   2.  To zoom in on an area, just use the mouse to sweep out a rectangle
       around that area.  Press Zoom out to return to viewing the
       full circuit.  The Zoom feature uses "markers," which are little
       red brackets that show up in the circuit diagram.  You can move
       the markers around in circuit-editing mode, too, and turn them
       on or off with the Markers command in Frills.

   3.  Touch Config to configure the plotter.  You can change the
       font that is used for labels (there is a wide selection of fonts
       available, though most of them are silly).  You can select how
       the plot will be oriented on paper (default is to let LOG choose
       the orientation to make it come out as large as possible).  You
       can set the size of the paper if your plotter is too primitive
       to know that for itself.  (For the laser printer, the printer
       always determines the paper size itself.)

   4.  Touch Options to configure the circuit-diagram plot.  The only
       interesting attribute here is the size of the solder dots
       (oh, boy!).

   5.  When you are all ready press File and away it goes, to the system
       Postscript printer. The PLOT button used to control pen plotters
       directly, but now a better way of using pen plotters involves
       plotting into a file (see 6 below) using HPGL.  [NOTE: The Unix
       version is not able to drive pen-plotters directly.]

   6.  You can also plot into a PostScript file, for inclusion, say, in
       a TeX document.  Set the file name in Config, then touch File.

</PRE>
 
<UL>
<LI> <A HREF="lplot2.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
