<TITLE> Description of the Chipmunk System </TITLE>

<H1> Chipmunk System Details </H1>

	<P>The software tools in the Chipmunk system perform a wide
variety of tasks: electronic circuit simulation and schematic capture,
graphics editing, and curve plotting, to name a few. The core tools
began their life as the applications software for three clusters of
Hewlett-Packard <A HREF="hp9836.html"> 9836C</A> computers (and other
compatible models) that were donated to the California Institute of
Technology in the early- and mid- 1980's.  One cluster, of about 25
workstations, served as computing tools for undergraduate and graduate
Computer Science courses. A second cluster, of about 10 workstations,
served as data acquisition and analysis tools for laboratory courses
in integrated circuits: each workstation was attached to donated HPIB
test instruments. A third cluster served the
laboratory of <A HREF="http://www.cns.caltech.edu/Faculty/Mead.html">
Carver Mead </A>. </P>

	<P>Throughout the decade of the 80's, Caltech undergraduate
and graduate students wrote a variety of software tools to run on
these three clusters of machines: software to teach classes, do
research, and prepare documents. When the 80's ended, and Unix
workstations began to dominate research computing, the best tools were
ported to run under HPUX running on HP 68030-based workstations
running the X window system, and later to a <A HREF=
"../pickup/platforms.html"> wide </A> assortment of hardware and
software environments.</P>

	<P>Here is a brief description of each of the Chipmunk tools.
For a more detailed description, click on the tool name.</P>

<DL>
<DT> <A HREF="log.html"> Log </A>
<DD> Log is a graphical environment for entering circuit schematics, and
for analog and digital circuit simulation. 
<DT> <A HREF="view.html"> View </A>
<DD> View is a tool for manipulating and plotting data. 
<DT> <A HREF="until.html"> Until </A>
<DD> Until is a graphics editor.
<DT> <A HREF="wol.html"> Wol </A>
<DD> Wol is a tool for creating integrated circuit layout.
</DL>

	<P> In addition to these major tools, many <A
HREF="supplement.html">supplementary </A> tools are part of the
Chipmunk system. In addition, the project of porting the Chipmunk
tools spawned a Pascal-to-C converter, p2c. The GNU Foundation
distributes p2c -- it is not part of the Chipmunk package. </P>

<UL>
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
<LI> <A HREF="../compile/compile.html">Compilation instructions. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>