<TITLE> Until </TITLE>

<H1> Until </H1>

	<P> Until is a graphics editor written by Glen Gribble,
incorporating code from an earlier graphics editor written by John
Wawryznek and Telle Witney. The primary purpose of the tool is to
generate publication-quality graphics: all of the figures in Carver
Mead's book Analog VLSI and Neural Systems were drawn in Until, and
imported into LaTex. Features of Until include:

<DL>
<DT> <B> Many drawing modes </B>
<DD> Bezier curves, circles, ellipses, polygons, arrows, and several
types of boxes can all be drawn with Until. Control points for Bezier
curves can be viewed and directly altered. Mixed hierarchy is
supported: instances of figures and primitive elements can be mixed on
a page. Instances can be rotated, scaled, and flattened as
needed. Text is supported with many fonts.
<DT> <B> Input compatibility </B>
<DD> Until accepts graphical output from the Chipmunk tools 
<A HREF="log.html"> Log </A> and <A HREF="view.html"> View </A>, so that
output from these tools can be annotated before inclusion into 
documents. 
<DT> <B> Output compatibility </B>
<DD> Until can generate two types of Postscript. One output type is 
standard encapsulated Postscript, including all text labels; this type
of Postscript is compatible with the <I> psfig </I> macros included with
<I> dvips </I>. A second output type splits the figure into two files:
a Postscript file for graphics, and a TeX file for labels, including
placement information in TeX. An included macro package, <I> psmac, </I>
overlays these two files in a TeX document, allowing the fonts in a 
figure to match the fonts in the main text.
<DT> <B> Edit-extend mode </B>
<DD> Edit-extend mode is another special feature of Until; it lets the
user change parameters for graphics objects using text input. In this
way, graphical and textual manipulation can be combined as convenient
during figure creation.
</DL>

	<P>For users with simple illustration requirements, Until can
be a cost-free alternative to commercial tools like Framemaker,
when used in conjunction with TeX. Compatibility with Analog and View
formats, and the special functionality of the psmac TeX macros, are
two other reasons users choose Until. </P>

	<P> To learn more about Until, you can start exploring its
<A HREF="../document/until/index.html"> documentation </A>. </P>

<UL>
<LI> <A HREF="describe.html">Return to Chipmunk System description.</A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>