<TITLE> View </TITLE>

<H1> View </H1>

	<P> View is a data manipulation and plotting tool written by Dave
Gillespie. View is primarily useful for processing and displaying
large collections of one-dimensional data curves. Volume and surface
visualizations are not supported. Programs in View language can be
interactively entered at a shell prompt, or interpreted as batch files.
Features of View include:</P>

<DL>
<DT> <B> Data manipulation </B>
<DD> View language supports math operations on curves as basic
operations, as well as scalar math operations and vector-to-scalar
reduction operations.  Other operations allow the extraction and
insertion of scalars into vectors. Many math functions (trigonometric,
hyperbolic, and rounding) are included. Symbolic functions can be
evaluated over ranges specified by curves, supporting the comparison
of experimental data with theory. View supports automatic curve
fitting for arbitrary non-linear functions.
<DT> <B> Data plotting </B>
<DD> Auto-scaling plotting of data curves is supported, included dual
Y axis scales, broken line variants, and symbol plotting. Plots can
be interactively previewed. Postscript, HPGL, and the file format
for the Chipmunk graphics editor <A HREF="until.html"> Until </A>
are supported.
<DT> <B> Libraries </B>
<DD> Libraries written in View language support error bar generation,
histogram generation, numerical integration, zero-crossing detection,
and data smoothing.
<DT> <B> Compatability </B>
<DD> View accepts data file input from the <A HREF="log.html"> Log </A>
data visualization system, supporting data analysis and plotting of
simulation data from Log simulators (Analog and Diglog).
<DT> <B> Instrument Control </B>
<DD> View includes an HPIB instrument control library, <I> Mt </I>, and
drivers for several HP and Keithly instruments. Another HPIB package
included with view interfaces directly to a Tektronics 2430 scope.
These programs were used under Unix in a Sun Sparc environment to
interface to instruments using an IOTech HPIB card; rewriting the
low-level interface for a different hardware environment should be
feasible.
</DL>

	<P>Users not requiring the power of a commercial data plotting
and manipulation tool such as MATLAB sometimes find View a
cost-free alternative; Log users sometimes find View to be an
effective post-processing tool for simulation results. These two
classes of users make up the current View userbase. </P>

	<P> To learn more about View, you can start exploring its
detailed <A HREF="../document/view/index.html"> documentation </A>. </P>

<UL>
<LI> <A HREF="describe.html">Return to Chipmunk System description.</A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>