<TITLE> CleanCif </TITLE>

<H1> CleanCif -- a comment stripper </H1>

<P>Cleancif is a filter program for removing comments from the .cif files that
wol generates. It is necessary because some programs do not recognize the
format wol uses for comments: </P>

<P> <TT> 9 comments comments comments ; </TT> </P>

<P> Cleancif takes redirected input and output; given a file wolstuff.cif, type
</P>

<P> <TT> cleancif < wolstuff.cif > nocomments.cif </TT> </P>

<P> To produce a cif file without comments. </P> Another tool in this
toolkit, Boxify, seems to do this task also.

<UL>
<LI> <A HREF="index.html">Return to Toolkit documentation page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
