<TITLE> Documentation for Supplementary Tools </TITLE>

<H1> Documentation for Supplementary Tools </H1>

<P> Documentation for these tools come in various forms and flavors.
Two of the tools, Netcmp and Mosis, are covered as parts of the Wol
documentation. Press <A HREF="../wol/index.html">here</A> to see the
documentation for Netcmp and Mosis.</P>

<P> Documentation for other tools are as follows. Click on the title
to see available documentation.

<DL>
<DT><B><A HREF="boxify.html"> Boxify </A></B>
<DD> Boxify is a simple filter for cleaning up quite general CIF
and make it readable for Wol, written by Tor Sverre Lande. 
<DT><B> <A HREF="cleancif.html"> Cleancif </A></B>
<DD> Cleancif does comment removal for Wol CIF: some programs
don't deal well with Wol-style commenting. 
<DT><B> <A HREF="conscripts.html"> Conscripts</A></B>
<DD> These shell scripts support transfer of CIF between Magic and Wol,
so that chips designed using Wol and Wolcomp and be DRC'ed with Magic.
<DT> <B> <A HREF="scope_to_mat.html"> Sctomat</A></B>
<DD> This tool, written by Michael Godfrey, converts SCOPE output
files in Log to a format readable by MATLAB. 
<DT> <B> <A HREF="../log/logspc/logspc.html"> Spc-tools </A></B> 
<DD> These tools are filter programs for use with SPICE output from
the Log program Logspc. Written By Harold Levy, Caltech.
<DT> <B> <A HREF="../log/xcircuit/xcircuit.html"> Xcircuit </A></B>
<DD> This tool creates high-quality Postscript renderings of Log
schematics.  By Tim Edwards, hosted at the Johns Hopkins University.
<DT> <B> <A HREF="../log/logxnf/logxnf.html"> Xnf-tools </A></B>
<DD> These tools support using Log as a schematic capture tool for
Xilinx FPGAs.  By Ingo Cyliax, hosted at Indiana University.
</DL>

<P> If you've written tools you'd like to contribute to this collection,
I'd be happy to add it to future distributions. </P>

<UL>
<LI> <A HREF="../document.html">Return to Chipmunk documentation page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

