<TITLE> Documentation for View </TITLE>

<H1> Documentation for View </H1>

<P> Documentation for view consists of three manuals, written by Dave
Gillespie, in Postscript. These manuals are basically untouched from
the pre-Unix version of view, and are in need of updating, in addition
to HTML conversion. </P>

<DL>
<DT> <B>User manual </B> 
<DD> This manual serves as an introduction to view. Press <A
HREF="view.ps">here</A> to view the document.
<DT> <B>Language manual </B> 
<DD> This manual describes the scripting language of view. Press <A
HREF="viewprg.ps">here</A> to view the document.
<DT> <B>Programmers manual </B> 
<DD> This manual describes how to write new tools for view. It was
written for the Pascal version of view. However, since the port to C
was done using a Pascal-to-C translator, it isn't too difficult to
apply the information in the manual to C programming. Press <A
HREF="viewmod.ps">here</A> to view the document.
</DL>


<P> One major feature added (by Harold Levy, Caltech) after the port
to Unix, and thus not described in the manuals above, is a package for
arbitrary non-linear curve fitting. Here is brief <A HREF="fit.html">
documentation</A> on this package. </P>

<P> Several libraries, written in view language, are included with view.
On-line help, and comments in the library source, form the main documentation
of these libraries. Here is a list of libraries. Click on the library
name to see the source. </P>

<DL>
<DT> <B> <A HREF="../../../view/lib/crunch.view">crunch.view</A></B> 
<DD> Simple routine for decimating curves, written to reduce the size
of large data curves produced by digital oscilliscopes.
<DT> <B> <A HREF="../../../view/lib/ebasis.view">ebasis.view</A></B> 
<DD> Extends the builtin <B>basis</B> command to support exponential
basis functions.
<DT> <B> <A HREF="../../../view/lib/errbar2.view">errbar2.view</A></B> 
<DD> Adds error bars to a curve.
<DT> <B> <A HREF="../../../view/lib/examples.view">examples.view</A></B> 
<DD> This isn't a library, but a set of programming examples designed as
a tutorial for new view-language users.
<DT> <B> <A HREF="../../../view/lib/filter.view">filter.view</A></B> 
<DD> Applies simple a smoothing filter to a curve.
<DT> <B> <A HREF="../../../view/lib/histogram.view">histogram.view</A></B> 
<DD> Computes a histogram of a curve.
<DT> <B> <A HREF="../../../view/lib/integrate.view">integrate.view</A></B> 
<DD> Numerically integrates a curve.
<DT> <B> <A HREF="../../../view/lib/reverse.view">reverse.view</A></B> 
<DD> Reverse the order of a curve.
<DT> <B> <A HREF="../../../view/lib/swapxy.view">swapxy.view</A></B> 
<DD> Exchange x and y values in curve,
<DT> <B> <A HREF="../../../view/lib/zcross.view">zcross.view</A></B> 
<DD> Finds zero-crossing points of a curve.
</DL>

<UL>
<LI> <A HREF="../document.html">Return to Chipmunk documentation page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

