<TITLE> Documentation of the Chipmunk System </TITLE>

<H1> Chipmunk System Documentation </H1>

<P> Previous versions of the Chipmunk tools have included a
disorganized set of manuals, in various formats, scattered throughout
the distribution.  Much of the text in the documents dated back to <A
HREF="../describe/hp9836.html"> pre-Unix </A> versions of the
software. This version of the Chipmunk documentation tree marks a
first step towards cleaning up the documentation for the Chipmunk
tools. The eventual goal is to have up-to-date, cross-referenced
manuals entirely written in HTML. </P>

<P> The Chipmunk documentation is divided into the following
sections. For each section, click on the section title for the
manual. Other links lead to brief descriptions of the tools. </P>

<DL>
<DT> <A HREF="psys/index.html"> <B> X Issues</B> </A>
<DD> Customize your X environment for the Chipmunk tools.
<DT> <A HREF="log/index.html"> <B> Log </B> </A>
<DD> The <A HREF="../describe/log.html"> Log </A> system 
(diglog, analog, loged) and related topics are covered.
<DT> <A HREF="view/index.html"> <B> View </B> </A>
<DD> The <A HREF="../describe/view.html">View </A> tool, View language,
and libraries are covered.
<DT> <A HREF="wol/index.html"> <B> Wol </B> </A>
<DD> <A HREF="../describe/wol.html"> Wol </A>, including Wolcomp.
<DT> <A HREF="until/index.html"> <B> Until </B> </A>
<DD> <A HREF="../describe/until.html">Until</A>, including TeX and Postscript 
compatibility.
<DT> <A HREF="other/index.html"> <B> Other Tools </B> </A>
<DD> Netcmp, Mosis, and other tools in the Supplementary 
<A HREF="../describe/supplement.html"> Toolkit </A>.
</DL>

<P> Chipmunk users have contributed several of the new documents
contained in this manual collection. I'd be happy to integrate additional
documentation into this manual as I receive them. </P>

<UL>
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../describe/describe.html">Description of the Chipmunk tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
<LI> <A HREF="../compile/compile.html">Compilation instructions. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

