<TITLE> OS/2 Requirements </TITLE>

<H1> OS/2 Requirements </H1>

<P>Only the Log system (diglog, analog and
loged) is ported. Here are the requirements for Log:</P>

<UL>
<LI> WARP Connect.
<LI> The PMX server (The X Window System for OS/2) About $140 US,
availible from Indelible Blue, 800-776-8284, or
<LI> The Hummingbird X-server (commercial),  416-496-2200, 
http://www.hummingbird.com, sales@hummingbird.com. This server,
unlike the PMX server, supports color screen depths > 8bit.
<LI> Note that the Xfree86 port to OS/2 does not work as the
"local" Xserver for Log.
<LI>The <TT>icc</TT> compiler, and <TT>nmake</TT>. Not known if
<TT>gcc</TT> will work also, please let me know if you try <TT>gcc</TT>.
</UL>


<UL>
<LI> <A HREF="platforms.html">Return to Platforms list.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>