<TITLE> The Chipmunk Distribution </TITLE>

<H1> The Chipmunk Distribution </H1>

	<P> The current distribution of the Chipmunk tools was
released on October 1, 1998. It replaces the distribution originally
released March 1, 1997. The October 1, 1998 distribution incorporates
several <A HREF="changes.html"> changes and bug fixes </A> contributed by
Chipmunk users. </P>

	<P> The Chipmunk tools now run on a <A HREF="platforms.html">
wide </A> variety of platforms. Exact software requirements vary by
platform, but for most machines an ANSI c compiler (most typically
GCC), X11 (R4, R5, or R6), and an HTML browser are the only
requirements.

	<P> The most current version of the documentation is
accessible directly at the World-Wide Web sites that distribute the
Chipmunk tools. You can browse the manual without FTPing the Web
tree.</P>

	<P> Binary distributions are available for PC and Amiga
platforms; see <A HREF="platforms.html">platform</A> list for more
details. </P>

	<P> The Chipmunk distribution is offered with the GNU
license. In essence, GNU-licensed software is freely redistributable,
but if you make changes to the source code, and wish to distribute
your changes, you must also distribute the source code of your
modified version, and your modified source must also be freely
redistributable. Check the license agreement included with each
Chipmunk tool for more information.</P>

	<P> Earlier versions of the Chipmunk tools are available on
CD-ROM from several vendors. We expect this version to be included on
future CD-ROMs, and will include vendor information in this section as
these products appear. To our knowledge, no one is offering commercial
support services for the Chipmunk tools. </P>
	
<H2> <A NAME = "FTP"> How to FTP The Chipmunk System </a></H2>

	<P> The Chipmunk tools are available in source form, as a set
of tar files, compressed with the GNU gzip program.  Practically all
users of the Chipmunk tools will need to get the following two
files. Click on the header name to FTP the tar file.</P>

<DL>
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/webdoc1.3.tar.gz"> webdoc1.3.tar.gz </A>
<DD> This file includes HTML documentation for all of the Chipmunk tools,
including manuals and installation information. All documentation previously
contained in individual Chipmunk tools has been rewritten as HTML or has been 
included as Postscript in this documentation tree.
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/psys-1.50.tar.gz"> psys-1.50.tar.gz </A>
<DD> This file is the source tree for the common libraries of all the 
X-based Chipmunk tools. Most machine-dependent aspects of the Chipmunk
system are contained in Psys.
</DL>

	<P> The following files contain the distribution for specific
Chipmunk tools and toolkits. Click on the header name to FTP the tar
file for the tool.</P>

<DL>
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/log-5.50.tar.gz">Log</A>
<DD> Log is a graphical environment for entering circuit schematics, and
for analog and digital circuit simulation. Press <A HREF=
"../describe/log.html"> here </A> for more information about Log. 
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/viewbeta.tar.gz"> View </A>
<DD> View is a tool for manipulating and plotting data. Press <A HREF=
"../describe/view.html"> here </A> for more information about View. 
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/untilbeta.tar.gz"> Until </A>
<DD>  Until is a graphics editor. Press <A HREF=
"../describe/until.html"> here </A> for more information about Until. 
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/wolbeta.tar.gz"> Wol </A> and <A HREF=
"http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/wolcompbeta.tar.gz"> Wolcomp </A>
<DD> Wol and Wolcomp are tools for creating integrated circuit layout.
Press <A HREF= "../describe/wol.html"> here </A> for more information
about Wol and Wolcomp.
</DL>

	<P> In addition to the four major Chipmunk tools, there are several
supplementary tools in the Chipmunk distribution. Press 
<A HREF= "../describe/supplement.html"> here </A> for more information about
the supplementary tools. To retrieve tools from the supplementary
toolkit, click on the head names below: </P>
<DL>
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/netcmpbeta.tar.gz"> Netcmp </A>
<DD> A tool for netlist comparison.
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/mosisbeta.tar.gz"> Mosis </A>
<DD> A tool for generating mail messages to the MOS Implementation
Service.
<DT> <A HREF="../document/log/logxnf/logxnf.html"> Xnf-tools </A>
<DD> Tools for creating Xilinx XNF netlists using Diglog.
<DT> <A HREF="../document/log/xcircuit/xcircuit.html"> Xcircuit </A>
<DD> Tools for generating publication-quality schematics of Log files.
<DT> <A HREF="http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/util1.1.tar.gz"> All Other Supplementary Tools </A>
</DL>

	<P> A collection of examples for using all the Chipmunk tools
for chip design is also available. Press <A HREF=
"http://www.cs.berkeley.edu/~lazzaro/chipmunk/pickup/sources/examples.tar.gz">
here </A> to retrieve this example collection.</P>

	<P> Once you have retrieved all the necessary files for your
site, you can starting reading the <A HREF="../compile/compile.html">
compilation instructions </A> for the Chipmunk system. </P>

<UL>
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../describe/describe.html">Detailed descriptions of the
Chipmunk system.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../compile/compile.html">Compilation instructions for 
the Chipmunk system.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>