<TITLE> Platforms and Requirements </TITLE>

<H1> Platforms and Requirements </H1>

<P>The Chipmunk tools require an ANSI c compiler (typically GCC) and
X11 (R4, R5, or R6). Monochrome, 8-bit, 16-bit, and 24-bit per pixel
color displays are supported; however, 16-bit and 24-bit color modes
have only been tested on PC platforms (X11 under Linux and OS/2).  An
HTML browser (like Mosaic or Lynx or Netscape) is also necessary to
access the Chipmunk documentation.</P>

<P> These are the currently supported platforms for the source
distribution, with details of platform-specific requirements: </P>

<UL>
<LI> <B> AmigaOS.</B> Requires ADE X or AmiWin X11.
<LI> <B> Apple Macintosh, AU/X. </B>
<LI> <B> Apple Macintosh,  <A
HREF="http://www.tenon.com/">MachTen</A> </B>
<LI> <B> DEC MIPS-based DECstations.</B> 
<LI> <B> DEC Alpha, Linux.</B> 
<LI> <B> DEC Alpha, OSF 4.0</B> 
<LI> <B> HP Series 300/400, HPUX.</B>
<LI> <B> HP Series 700/800 HPUX.</B>
The HP-supplied cc, with extra-cost ANSI option, will also compile
Chipmunk.
<LI> <B> IBM PC and Compatibles, Linux/x86</B>
<LI> <B> IBM PC and Compatibles, FreeBSD.</B>
<LI> <B> IBM PC and Compatibles, OS/2.</B> Press 
<A HREF="os2.html"> here </A> for details. 
<LI> <B> IBM RS/6000. </B>
The IBM xlc compiler is known to compile Chipmunk; gcc has not been
tested.
<LI> <B> SGI, Irix 5.2 and 5.3, </B>gcc and cc supported. 
<LI> <B> Sun SPARC, Solaris 1.X (SunOS 4.X).</B>
<LI> <B> Sun SPARC, Solaris 2.X (SunOS 5.X).</B>
</UL>

<P> Binary distributions have been built by third-parties for the 
following architectures. Contact the authors for additional information.</P>
<UL>
<LI> <B> IBM PC-Compatibles, MS-DOS/Win95.</B>
<P>Two binary versions of analog are current available. </P>
<P>Martin Johnson,
of Massey University Albany (Auckland, New Zealand) has recently
completed an analog/log/loged port that runs under both Win95 and
DOS. It uses djgpp and grx20. A binary version of this port is
available for <A HREF="ftp://cs-alb-pc3.massey.ac.nz/pub/log304.exe">
FTP download</A> and <A
HREF="http://cs-alb-pc3.massey.ac.nz/notes/59304/log304.exe"> HTTP
download</A>. Contact Martin Johnson directly at
<TT>M.J.Johnson@massey.ac.nz</TT> for more information.</P>
<P>Luigi Rizzo's group at the Universita' di Pisa, Italy, has created
an analog port that works under MS-DOS only.  Compiled with djgpp,
it uses xlibemu and fvwm to provide an interface similar to a virtual
window manager under X with Motif-like widgets. See his <A
HREF="http://www.iet.unipi.it/~luigi/">home page</A> for current
status; there may be an early-alpha version of a binary available for
evaluation (see "Materiale didattico" section).</P>
<LI> <B> Amiga.</B> Marco Gigante (marco.gigante@studenti.ing.unipi.it) has
created a binary distribution for the Amiga, which uses the ADE X or
AmiWin X server.  These binaries are available on the <A
HREF="ftp://ftp.wustl.edu/pub/aminet/misc/sci/">Aminet</A> server, for
several hardware configurations. Binary filesets
<TT>ChipMunk*.lha,</TT> <TT>log*.lha,</TT> <TT>view*.lha,</TT>
<TT>until*.lha,</TT> <TT>wol*.lha,</TT> contain the distributions for
Chipmunk, Log, View, Until, and Wol respectively.
</UL>

<P> Absent from this list are the following popular platforms. </P>
<UL>
<LI> <B>IBM PC-Compatibles, Windows NT </B>
No ports are in progress, to my knowledge. 
<LI> <B>IBM PC-Compatibles, NextStep.</B>
No ports are in progress, to my knowledge.
<LI> <B>Apple Macintosh, MacOS.</B> </B>
No ports are in progress, to my knowledge. However, MachTen does run as
a process on top of MacOS. 
</UL>

<P> Feel free to contact me if you are interested in starting or helping
a porting project.  I'd be happy to offer advice and assistance, and to
integrate your completed port into the next distribution. </P>

<UL>
<LI> <A HREF="../pickup/pickup.html">Return to pickup information page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>