<TITLE> Email support for Chipmunk Users </TITLE>

<H1> Email support for Chipmunk Users </H1>

<P>If you are having trouble creating a working version of the
Chipmunk tools, please let me know, and I'll try to offer help. </P>
Send email to <TT> lazzaro@cs.berkeley.edu </TT> and include the
following information.</P>

<UL>
<LI> Complete machine configuration, including machine type, OS revision,
compilers, and X servers.
<LI> A listing of the output from the failed compilation process, or any
messages printed by a Chipmunk program or the OS or X when an error occurs.
<LI> Details of any changes you have made to the distribution before this
compilation.
<LI> The effects of following any advice given in the compilation 
instructions.
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
