<TITLE> Customizing the Chipmunk Makefile </TITLE>

<H1> Compiling the Chipmunk Makefile</H1>

<P> The purpose of the Chipmunk Makefile is to allow recompilation
of all the Chipmunk tools with a single command. To install the
Makefile, save the file as <TT>chipmunk/Makefile.</TT> To customize
the Makefile, edit it and read the comment section after the 
GNU General Public License comment block. </P>

<P> Once this Makefile is installed, you can use it to remove all
object and executable files from the source directories by 
executing the command: </P>

<P> <TT>make clean</TT> </P>

<P> and you recompile the entire distribution by executing the command:</P>

<P> <TT>make install</TT> </P>


<UL>
<LI> <A HREF="../compile/compile.html#place">Return to 
compilation instructions. </A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
