<TITLE> Compiling Until </TITLE>

<H1> Compiling Until </H1>

	<P> This document assumes that you have successfully compiled
the <A HREF="psys.html"> Psys </A> libraries.  This
document also assumes that you have uncompressed and untarred the 
Until file, and installed it in the <TT>chipmunk</TT>
directory. Note that Until has not been ported to OS/2.</P>

	<P> Begin by descending to the <TT>until/V1.2</TT> directory.
Edit the file <TT>Makefile,</TT> and make any necessary
changes. Comments in the Makefile will guide you through these
changes; the changes are labeled with the markers (1), (2), (3),
ect. Once these changes are made, execute the command </P>

<P> <TT>make install</TT> </P>

	<P> If things are working correctly, a long series of
compilations, linkings, and file movements should occur without error.
This will create the program <TT>chipmunk/bin/until.</TT> </P>

<P>To do a basic functional test of Until, execute the following
command in the until/V1.2 directory: </P>

<P> <TT>./until welcome</TT> </P>

	<P> Two windows should appear, <TT>mylib</TT> and <TT>
newcrt.</TT>  The <TT>mylib</TT> window should a welcoming message
which is a figure made in Until. To leave the program, press <TT>
q. </TT> To learn more about using until, see the <A
HREF="../document/until/index.html"> user documentation. </A> </P>

<P> If you have problems compiling or using Until, I'd be happy to
offer suggestions; press <A HREF="helpme.html"> here </A> for more
information about asking for help. </P>

<UL>
<LI> <A HREF="../compile/compile.html#place">Return to 
compilation instructions. </A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
