<TITLE> Compiling Wol </TITLE>

<H1> Compiling Wol </H1>

	<P> This document assumes that you have successfully compiled
the <A HREF="psys.html"> Psys </A> libraries.  This
document also assumes that you have uncompressed and untarred the 
Wol file, and installed it in the <TT>chipmunk</TT>
directory. Note that Wol has not been ported to OS/2.</P>

	<P> Begin by descending to the <TT>wol</TT> directory.
Edit the file <TT>Makefile,</TT> and make any necessary
changes. Comments in the Makefile will guide you through these
changes; the changes are labeled with the markers (1), (2), (3),
ect. Once these changes are made, execute the command </P>

<P> <TT> make install </TT> </P>

	<P> If things are working correctly, a long series of
compilations, linkings, and file movements should occur without error.
This will create the program <TT>chipmunk/bin/wol.</TT> </P>


<P>To do a basic functional test of Wol, execute the following
command in the <TT>wol</TT> directory: </P>

<P> <TT> ./wol -tSCGA</TT> </P>

<P> Two windows should appear, <TT>mylib</TT> and <TT> newcrt.</TT>
To leave the program, press <TT> q. </TT> To learn more about using wol,
see the <A HREF="../document/wol/index.html"> user documentation. </A>
</P>

<P> If you have problems compiling or using wol, I'd be happy to
offer suggestions; press <A HREF="helpme.html"> here </A> for more
information about asking for help. </P>

<UL>
<LI> <A HREF="../compile/compile.html#place">Return to 
compilation instructions. </A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>





