<TITLE> Compiling Wolcomp </TITLE>

<H1> Compiling Wolcomp </H1>

	<P> This document assumes that you have successfully compiled
the <A HREF="psys.html"> Psys </A> libraries.  This
document also assumes that you have uncompressed and untarred the 
Wolcomp file, and installed it in the <TT>chipmunk</TT>
directory. Note that Wolcomp has not been ported to OS/2.</P>

	<P> Begin by descending to the <TT>wolcomp</TT> directory.
Edit the file <TT>Makefile,</TT> and make any necessary
changes. Comments in <TT>Makefile</TT> will guide you through these
changes; the changes are labeled with the markers (1), (2), (3),
ect. Once these changes are made, execute the command </P>

<P> <TT> make install </TT> </P>

	<P> If things are working correctly, a long series of
compilations, linkings, and file movements should occur without error.
The Wolcomp library <TT> wolcomp.a </TT> is now ready to be included in
cell compilers.  To learn more about using wolcomp, see the <A
HREF="../document/wol/index.html"> user documentation. </A> </P>

<P> If you have problems compiling or using wolcomp, I'd be happy to
offer suggestions; press <A HREF="helpme.html"> here </A> for more
information about asking for help. </P>

<UL>
<LI> <A HREF="../compile/compile.html#place">Return to 
compilation instructions. </A> 
<LI> <A HREF="../index.html">Return to home page.</A> 
<LI> <A HREF="../document/document.html">User documentation for Chipmunk 
tools.</A> 
<LI> <A HREF="../pickup/pickup.html">To pick up the distribution. </A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>





