<TITLE>  DEF command</TITLE>

<H1> DEF command </H1>

<PRE>

   1.  The DEF command edits the simulator's definition for the gate.
       What happens when you type DEF depends entirely on what simtype
       you have given to the gate.  Also, for simtypes 16 and above, the
       relevant simulator must have been loaded into the computer already
       via a "perm" or "use" command.

   2.  For simtype 0, the gate has no simulation behavior and its DEF
       command does nothing.

   3.  For simtype 1, the DEF command displays the signal name current
       programmed into the gate, then gives you the option to change this
       name if you wish.  If you leave the name blank, the gate will not
       connect to any signal by default; presumably, you have set the
       NAMED flag so that a signal name can be entered at run time.

   4.  For simtype 7, the DEF command displays and allows you to change
       the name of the Pascal procedure responsible for the gate.  This
       must be of the form, "modulename_procedurename".  The writing of
       Pascal coded gates is beyond the scope of this manual; refer to
       Dave Gillespie's Master thesis, or examine the LOG sources for
       examples.

   5.  For simtype 16, you enter a simple text editor.  Use the up arrow
       and down arrow keys to move, press <cntrl-K> and <cntrl-I>
       to delete or insert lines. Editing functions currently not implemented
       implemented are RECALL, to restore a deleted line, and left arrow
       and right arrow to edit a line.  Indentation and formatting
       is handled automatically.  If LOGED detects a syntax error in your
       line, it converts it into a comment.  However, note that some
       syntax errors are not caught but will produce code that may cause
       the simulator to crash or behave strangely.  For a description of
       the LOG digital gate language, see below.  Press Control-C
       or Control-D to exit.

   6.  For simtype 32, you are prompted for the name of a Pascal procedure
       which takes responsibility for the gate, in much the same way as
       for simtype 7.

</PRE>

<UL>
<LI> <A HREF="loged6.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>