<TITLE> The Analog Cheat Sheet </TITLE>

<H1> The AnaLOG Cheat Sheet </H1>

<H2> Handy Tips for Using AnaLOG </H2>

<PRE>


   0.  Type "analog" to run the AnaLOG simulator.

   1.  Press the Control-C key to get out of any mode.

   2.  Press the "q" key to get out of the Help command.

   3.  Press the space bar to refresh the screen.

   4.  PRESS and DRAG with the left button to move things.

   5.  Drag off the edge of the screen to delete things.

   6.  TAP to rotate and configure gates, and to draw wires.

   7.  Press right button to cancel wire-drawing and other simple modes.

   8.  Make sure the red dots are aligned when connecting gates together.

   9.  Touch CAT to see the Gate Catalog; press and drag to get gates.

  10.  T-connections always connect; crossing wires must be soldered by hand.

  11.  Press < and > to zoom, use the arrow keys to scroll.

  12.  Change ROT or MIR to CNFG, then touch gates, to configure them.

  13.  Use up/down arrows to select an attribute, left/right arrows to change.

  14.  Select RESET from Misc to reset the simulator to time=0.

  15.  Use "terminals" (TO or FROM arrows) to name signals for Scope.

  16.  Select Scope in Misc for Scope screen, or press "s" key.

  17.  To display a signal on the Scope, just type its name.

  18.  Touch Config or a signal name to adjust display parameters.

  19.  "On Reset" mode:  when scope runs out of data points, it stops.

  20.  "Continuous" mode:  when scope runs out, it eats the oldest points.

  21.  To plot currents, connect a TO arrow to the "hook" of an ISCOPE.

  22.  Press/drag in the traces to measure absolute/delta/value information.

  23.  Select Delete in Editing menu, then drag a rectangle to delete areas.

  24.  Use Delete + Paste to move, Copy + Paste to copy.

  25.  DO NOT use the Open or Close commands in the Editing menu.

  26.  Use Save and Load in Misc to save or load your circuit.

  27.  Save renames the old version to ".lfo", for backups.

  28.  Press "p" to get ready to plot the circuit on the plotter.

</PRE>


<UL>
<LI> <A HREF="index.html">To return to Log documentation.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>


