<TITLE> Documentation for Wol </TITLE>

<H1> Documentation for Wol </H1>

<P> Documentation for Wol consists of a long manual, written by Mass
Sivilotti, in Postscript. These manuals are basically untouched from
the pre-Unix version of Wol, and are in need of updating and
HTML conversion. The manual covers other tools, such as Netcmp,
Wolcomp, and Mosis, as well as Wol.  </P>

<DL>
<DT> <B><A HREF="wol.ps"> Wol</A> </B> 
<DD> The complete manual for Wol.
<DT> <B><A HREF="wolcomp.ps">Wolcomp</A> </B> 
<DD> A subset of the Wol manual that just describes
Wolcomp. Note that this manual covers the pre-Unix version of Wolcomp,
describing a library embedded in Pascal instead of C.
<DT> <B><A HREF="netcmp.ps">Netcmp</A> </B> 
<DD> A subset of the Wol manual that just 
describes Netcmp. 
<DT> <B><A HREF="mosis.ps">Mosis</A> </B> 
<DD> A subset of the Wol manual that just 
describes the Mosis program.
</DL>

<P>To help understand how to use Wolcomp and Wol in a real chip
design, with the current version of the tools, serious users will want
to check out the examples package, which contains a VLSI chip design
done using Wol and Wolcomp. Press <A HREF=
"../../pickup/pickup.html"> here </A> for information on picking up
the examples package. </P>


<UL>
<LI> <A HREF="../document.html">Return to Chipmunk documentation page.</A> 
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

