<TITLE> Chipmunk and X </TITLE>

<H1> Chipmunk and X: Color Depth </H1>

<P> Chipmunk tools currently support monochrome, 8-bit, 16-bit, and
24-bit displays. The 16-bit and 24-bit display modes are only known to
work on the PC architecture (X11 under Linux and OS/2); see this <A
HREF= "modes.html"> document </A> for more details on the current
status of color support. </P>

<P> By default, the Chipmunk tools select a color mode using these rules: </P>

<UL>
<LI> If Pseudo-Color mode is supported with a depth of at least 8 bits,
the tool uses 8-bit mode. 
<LI> If Pseudo-Color mode is not supported but TrueColor mode is 
supported, the tool uses 24-bit depth if available, or 16-bit depth
if 24-bit depth is not available.
<LI> If all else fails, monochrome mode is selected. 
</UL>

<P> The user can force the color mode of a Chipmunk tool by setting
the environment variable <TT>LOG_COLOR</TT> to be the string
<TT>bw</TT> or <TT>8bit</TT> or <TT>16bit</TT> or <TT>24bit</TT>. </P>

<H1> Chipmunk and X: Window Placement </H1>

<P> Manually placing and sizing the <TT>mylib</TT> and <TT>newcrt</TT>
windows can quickly become tedious. The Chipmunk
tools can automatically size and place these windows. To enable this
feature, you'll need to add information to an X initialization file in
your home directory, typically named <TT>.Xresources</TT>. Three
resources are implemented for the Chipmunk tools:

<DL>
<DT> <TT>mylib.geometry: =AxB+C+D</TT>
<DD> You can use this resource to set the size of the <TT>mylib</TT>
window to have an X dimension of A pixels, and a Y dimension of B pixels,
and have it automatically placed at the position indicated by C (x placement)
and D (y placement). 
<DT> <TT>newcrt.geometry: +C+D</TT>
<DD> The size of the <TT>newcrt</TT> window is fixed for all Chipmunk tools.
This resource automatically places the <TT>newcrt</TT>
window at a position indicated by C (x placement) and D (y placement). 
<DT> <TT>mylib.color black_and_white</TT>
<DD> This X resource forces Chipmunk tools to generate monochrome 
displays, even if the machine has a color monitor. 
</DL>

<P>You will need to exit and restart your X server after changing you
<TT>.Xresources</TT> file to activate the new behavior.</P>

<H2> Examples </H2>

<P> My <TT>.Xresources</TT> for my color Sun IPC machine is as
follows: </P>

<P><TT>mylib.geometry: =1150x550+0+0</TT></P> 
<P><TT>newcrt.geometry: +510+586</TT></P>

<P> My <TT>.Xresources</TT> for my HP 712/80 machine, which
has a higher-resolution monitor, is </P>

<P><TT>mylib.geometry: =1278x682+0+0</TT></P> 
<P><TT>newcrt.geometry: +638+710</TT></P>

<P> These features were added to the Chipmunk tools by Jim Clark at
Harvard University, Tor Sverre Lande at IFI, and Michael Godfrey at
Stanford University.</P>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>



