<TITLE> Survival Tips  </TITLE>

<H1>  Survival Tips</H1>

<P> Here are three suggestions repeated from earlier sections of the
manual, that are useful to remember when learning circuit editing in
Log:

<OL>
<LI> Select Exit from Misc to exit LOG.
<LI>If you get lost and confused, press Control-C
until you know where you are.
<LI>The single most common mistake in LOG is to
stick two gates, e.g. a capacitor and a ground,
so close together that they look connected but
their red dots pass through each other.  The gates
are NOT connected, and the circuit will NOT simulate
correctly.  The solution is to nudge the gates
apart a bit, then refresh the screen (space bar)
to make sure the red dots are aligned.
</OL>

<UL>
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>