<TITLE> Using the Program </TITLE>

<H1> Using the Program </H1>

<P>You control Log mainly with the mouse, and also from the
keyboard.  It takes some time to get comfortable with the
mouse in Log, but it will soon become second nature.  There are
three basic mouse motions you need to learn: </P>

<DL>
<DT> <B> Tap </B>
<DD> Press and release the left button on a spot.  This should
feel like tapping a key on a keyboard.  The spot you are tapping
is indicated by the cursor on the screen, usually a small
arrow.
<DT> <B> Press/Drag </B>
<DD> Press down and hold the left button, move the cursor
somewhere else, and release.
<DT> <B> Rest </B>
<DD>Press the right button and release.  This is used to cancel
operations like drawing wires.
</DL>

<P>Some Log functions appear right on the screen, so you can activate
them just by tapping the word.  Others are in "menus," which you get
by pressing on one of the words <B>Frills</B>, <B>Editing</B>,
<B>Cursor</B>, or <B>Misc</B>, then dragging to and releasing on the
word you want.  If you decide you didn't want the menu after all, just
release on some other part of the screen. </P>

<H2> Keyboard Commands </H2>

<P> Log also has keyboard commands, though everything you really
need as a novice can be found in on-screen menus.  When you
press a key for Log, be sure the cursor is in one of the Log
windows (it doesn't matter which one).  There are several
features of the keyboard to notice: </P>

<DL>
<DT> <B> Single Keys </B>
<DD> Many commands appear on keys as well as menus,
just for convenience.  For example, you can press the letter
"s" to do the same thing as <B>Scope</B> in the <B>Misc</B> menu.
<DT> <B> Control-C </B>
<DD>Press the <TT>Control</TT> key and the <TT>C</TT> key together
to exit from any mode you may find yourself in.
If you get lost and confused, press 
<TT>Control-C</TT> until you know where you are.
<DT> <B> Space Bar </B>
<DD> The space bar at most times means to refresh the
screen.  If the screen has gotten trashed by too much editing,
press this key to clean it up.  Log will also silently clean
up the screen if you stop editing for a few seconds.
<DT> <TT>:</TT> <B>Commands</B>
<DD> You can give full-word commands by pressing the
<TT>:</TT> key, then typing the command.  This is sometimes more
convenient; for example, typing <TT>:Load foobar</TT> is faster than selecting
<B>Load</B> from the <B>Misc</B> menu, then typing the file name 
<TT>foobar</TT>. 
</DL>

<UL>
<LI> <A HREF="geninfo3.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
