<TITLE> Getting Started </TITLE>

<H1> Getting Started with Log </H1>

<P> Log is a large circuit editing and simulation system.  It has
facilities for digital simulation (the original Log), analog
simulation (Analog), network generation (Logntk and Logspc), and
plotting (Lplot).  You probably won't need to use all of these, so
large parts of this document may not be relevant to you.  This
document was originally written to describe Analog, so it is biased
toward that application. Another learning aid for Analog are the
lessons files located in the <TT>chipmunk/log/lib</TT> directory. </P>

<P>   To run Log, give the command: </P>

<P> <TT>% diglog </TT></P> 

<P> or </P>

<P> <TT>% analog </TT></P> 

<P>This runs Log and sets it up for digital or analog simulation.
Both simulators are present in both of these files; the only
difference is which gates you get in your default menu. To exit at any
time, use the Exit command from the <B> Misc </B> menu, or type the
command </P>

<P> <TT>:exit</TT></P> 

<P> in either of the two windows of Log. </P>

<UL>
<LI> <A HREF="geninfo2.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

