<TITLE> Color names  </TITLE>

<H1>   Color names</H1>

<PRE>


   1.  The following list is the complete set of color-names defined so
       far in the LOG system.  See the COLOR command for details
       on how to reconfigure these color names.

   2.  After each color-name is its default color, then a description of
       what screen objects that color-name governs.

       BACKGR     Gray              Screen background color.
       BASELINE   Cyan              Color of line above menu area.
       BLUEWORD   Cyan              Light blue text in pop-up menus.
       CATALOGBOX Dim yellow        Gate grouping box in Catalog screen.
       CATGATE    Cyan              Color of gates in Catalog screen.
       CHART      Yellow            Default color of traces in Scope.
       CONFLICT   C-Red             Color of "signal-conflict" in a wire.
       CURSOR     White             Regular cursor color.
       DASHBOX    Dim yellow        Color of dashed boxes in circuits.
       DEFINEBACK Black             DEFINE command's box background.
       DEFINEBOX  Cyan              DEFINE command's box outline.
       DEFINETEXT Green             DEFINE command's text color.
       DIMGATE    Dim cyan          Color of "dimmed" gates in circuits.
       DIVISION   White             Color of grid dots in Scope.
       GATE       Cyan              Normal color of gates in circuits.
       GATEBLACK  Black             Black parts of gate pictures.
       GATEGREEN  Green             Green parts of gate pictures.
       GATEORANGE Orange            Orange parts of gate pictures.
       GATEPIN    Red               Color of gate connection dots.
       GATERED    Red               Red parts of gate pictures.
       GATEWHITE  White             White parts of gate pictures.
       GATEYELLOW Yellow            Yellow parts of gate pictures.
       GLOW1      Black             AnaLOG glow color for <= 0 volts.
       GLOW2      Dim red           AnaLOG glow color for 0-15
       GLOW3      Medium red        AnaLOG glow color for 15-50
       GLOW4      Red               AnaLOG glow color for 50-85
       GLOW5      Pink              AnaLOG glow color for 85-100
       GLOW6      White             AnaLOG glow color for >= Vdd.
       IDENTIFY   Red               Color of identified things in LOGNTK.
       IMETER     Orange            AnaLOG current meter readout.
       INSTANCE   Dim yellow        Name shown in Digital instance gates.
       KINDGATE   Green             Color of gates in menu area.
       LABELTEXT  Dim yellow        Color of circuit labels.
       LIMITON    Red               AnaLOG current-limit indicator.
       MARKER     Pink              Color of printing markers.
       MENUWORD   Green             Color of text in menu area.
       MESSAGE    Yellow            Informative messages in drawing area.
       OFFLED     Black             Digital LOG logic "0" signal.
       ONLED      Red               Digital LOG logic "1" signal.
       PAGE1      Green             Color of the word "PAGE".
       PAGE2      Yellow            Color of current page number.
       PAGE3      Green             Color of the word "OF".
       PAGE4      Yellow            Color of maximum page number.
       PEN1       White             Color for plotter pens #1-6.
       PEN2       Red               . These colors are used by the PLOT
       PEN3       Green             . command for circuit and data
       PEN4       Orange            . plotting.
       PEN5       Cyan              .
       PEN6       Yellow            .
       POPUPBOX   White             Outline of pop-up menus.
       POPUPWORD  Green             Text in pop-up menus.
       POPUPSEL   Pink              Highlighted text in pop-up menus.
       PROBE      Dim yellow        AnaLOG probe-mode display color.
       REDWORD    Red               Red text in pop-up menus.
       SCROLL     White             Color of scroll-indication lines.
       SELECT     White             Color of area-selection rectangle.
       SELWORD    Yellow            Highlighted words in menu area.
       SIGNAL     Pink              Color of TO/FROM signal names.
       SOLDER     Green             Color of solder dots on wires.
       SWITCHOFF  Light gray        AnaLOG switch "off" color.
       SWITCHON   Light gray        AnaLOG switch "on" color.
       TEMPLATE   Pink              Name shown in Digital template gates.
       TIME       Dim yellow        Color of TIME gate display
       VMETER     Dim yellow        AnaLOG voltage meter readout.
       WIRE       Green             Color of non-glowing wires.
       XWIRE      X-Green           Color of wires being drawn.

</PRE>


<UL>
<LI> <A HREF="ref7.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
