<TITLE>   Command-line options</TITLE>

<H1>   Command-line options</H1>

<PRE>

	These are all the command-line options log currently understands:

	-x displayname     : This option specifies the screen where the
			     newcrt and mylib windows will appear. For
			     example, the command analog -x foo.school.edu:0.0
                             results in the newcrt and mylib windows 
			     appearing on the console of the machine
			     foo.school.edu. An alternative to setting the
			     DISPLAY environment variable in the launch shell.

	-c filename        : Specifies a .cnf configuration file.


</PRE>


<UL>
<LI> <A HREF="ref8.html">To the next section of the manual.</A> 
<LI> <A HREF="../index.html">To return to Table of Contents.</A>
</UL>


<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>
