<TITLE> Xcircuit</TITLE>

<H1> Xcircuit</H1>

<P> Tim Edwards (tim@bach.ece.jhu.edu) has developed a tool that
generates publication-quality Postscript schematics from an lgf
file. In contrast, the Postscript created by Log itself is typically
draft-quality.  He maintains this tool, and hosts it at an FTP site
at the Johns Hopkins University. Click <A
HREF="ftp://bach.ece.jhu.edu/pub/tim/xcircuit.tar.gz">here</A> to
retrieve this package.</P>

  
<UL>
<LI> <A HREF="../../../document/other/index.html">Return to Supplementary Tools
descriptions.</A> 
<LI> <A HREF="../../../pickup/pickup.html">Return to Chipmunk Distribution description.</A> 
<LI> <A HREF="../index.html">To return to the Log manual</A>
</UL>

<ADDRESS>
<DL>
<DT> Email <DD> lazzaro@cs.berkeley.edu 
<DT> Phone <DD> (510) 643 4005
<DT> SMail <DD> UC Berkeley / CS Division / 387 Soda  Hall / Berkeley CA 94720 
</DL>
</ADDRESS>

